@import url(https://fonts.googleapis.com/css?family=Lobster);
body {
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
  text-align: center;
}
h1#page-title {
  text-align: center;
}
h5 {
  text-decoration: underline;
}
p {
  margin-top: 1rem;
  text-align: center;
}
.button.expand {
  display: block;
  width: 100%;
}
.no-padding {
  padding: 0 !important;
}
.row,
.row .row {
  margin: 0 auto;
  max-width: 100%;
}
.error {
  display: none;
}
.fieldset {
  padding: 0.75rem;
  border: none;
}
.fieldset b {
  text-indent: 1rem;
}